.card {
  width: 35rem;
  height: 20rem;
  @include screenSize('medium') {
    width: 25rem;
    height: 15rem;
  }
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(39, 19, 116, 0.582);
  box-shadow: rgba(177, 174, 174, 0.07) 0px 1px 2px,
    rgba(182, 178, 178, 0.07) 0px 2px 4px, rgba(167, 165, 165, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(197, 192, 192, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  backdrop-filter: blur(1px);
  border-radius: 0;
  color: wheat;
  justify-self: center;

  &-img {
    overflow: hidden;
    transition: $general-transition;
    height: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &-body {
    width: 100%;
    height: 4rem;
    background: rgba(65, 61, 61, 0.411);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    z-index: 1;
    position: relative;
    transition: $general-transition;
    font-weight: 600;
    font-size: 1.2rem;
    @include screenSize('medium') {
      font-size: 1.1rem;
    }
    &-title {
      width: 75%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .rating {
      color: whitesmoke;
      top: 0;
      right: 0;
      width: 25%;
      text-align: end;
      font-size: 1rem;
      @include screenSize('medium') {
        width: 5rem;
      }
      .fa-star {
        margin-left: 2px;
        @include screenSize('medium') {
          font-size: 0.7rem;
        }
      }
      .fa-star:hover {
        transform: scale(1.05);
        color: rgba(216, 195, 195, 0.932);
      }
    }
    &-duration {
      position: absolute;
      bottom: 3.35rem;
      right: 0rem;
      background: rgba(31, 30, 30, 0.75);
      width: 4rem;
      padding: 0 1rem;
      font-weight: 800;
      letter-spacing: 1px;
      border-top-left-radius: 0.4rem;
      backdrop-filter: 10px;
      font-size: 0.8rem;
    }
  }
  .card-btn {
    background: none;
    border: none;
    color: white;
    font-weight: bolder;
    position: absolute;
    top: -25px;
    right: -25px;
    width: 25px;
    height: 25px;
    background-color: rgba(143, 15, 15, 0.767);
    display: block;
    opacity: 0;
    transition: $general-transition;
    border-bottom-left-radius: 0.5rem;
  }

  &-play-button {
    display: none;
    opacity: 1;
    color: gray;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: transparent;
    transition: $general-transition;

    .fa-play-circle {
      color: white;
      transition: $general-transition;
    }
    .fa-play-circle:hover {
      color: rgb(178, 143, 218);
      transform: scale(1.1);
    }
  }

  &:hover {
    opacity: 0.8;
    color: whitesmoke;
    .card-play-button {
      background-color: rgba(105, 103, 103, 0.452);
      opacity: 1;
      color: whitesmoke;
    }
    .card-btn {
      opacity: 1;
      transform: translate(-25px, 23px);
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
      &:hover {
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        background-color: rgb(218, 16, 16);
      }
    }
  }
}
