@import 'reset';
@import 'mixin';
@import 'variables';
@import 'cardList.scss';
@import 'modal.scss';
@import 'footer.scss';
@import 'navbar.scss';
@import 'card.scss';
@import '../../node_modules/react-toastify/dist/ReactToastify.css';

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Yanone+Kaffeesatz:wght@300;400;500;600&display=swap');

html {
  font-size: 15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1px;
}
body {
  background: rgb(80, 40, 240);
  background: linear-gradient(
    180deg,
    rgba(48, 15, 180, 0.8) 0%,
    rgba(18, 18, 18, 0.8) 55%,
    rgba(18, 18, 18, 0.8) 90%,
    rgba(8, 18, 39, 0.9) 97%,
    rgba(48, 15, 180, 0.8) 100%
  );
}

.container {
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
  @include screenSize('large') {
    max-width: 100vw;
  }
}
